@media (min-width: 992px){
    .wheel {
        padding-left: 11%;
        padding-right: 11%;
    }
}

@media (min-width: 1200px) {
    .wheel {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.navbar-brand {
    padding-top: 5px;
}

.navbar-static-top {
    margin-bottom: 19px;
}

body {
    background-color: #DEB887;
    background-image: url(../img/background_wood.jpg);
}

.navbar-default {
    background-color: #8B5A2B;
    background-image: url(../img/background_wood.jpg);
    color: #DEB887;
    border: none;
}

.navbar-default .navbar-nav li a {
    color: #DEB887;
}

.errorMessage {
    height: 70px;
    position: fixed;
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
    top: 40%;
    z-index: 5;
}

#inputTextField, #outputTextField {
    word-break: break-word;
}

.glyphicon-remove-circle {
    float: right;
    margin-top: -27px;
}

#input .row,
#output .row {
    width: 100%;
    margin: 3px 0px;
}

#input #inputSecondRow, 
#output #outputSecondRow {
    margin-left: 5% ;
}

.button {
    color: white;
    outline: none;
    background-color: black;
    float: left;
    width: 8%;
    margin: 0px 1.55555%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; 
}

#output .button {
    background-color: #404040;
    border: none;
}

#buttonFields {
    clear: both;
}

.wheels {
    display: table;
    margin: auto;
}

.wheel {
    background: url(../img/background_metal.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    padding-bottom: 10px;
}

.wheel ul {
    list-style-type: none;
}

.manageWheel {
    width: 250px;
    margin: auto;
    margin-bottom: 10px;
}

.manageWheel p {
    float: left;
    position: relative;
    top: 10px;
    left: 5px;
    font-size: large;
    color: white;
}
.manageWheel .selectWheel p {
    width: 72px;
}

.manageWheel ul {
    position: relative;
    top: 5px;
    left: 10px;
    margin: 0px;
}

.pagination .active a,
.pagination .active a:hover,
.pagination .disabled a,
.pagination .disabled a:hover,
.pagination li a,
.pagination li a:hover {
    background-color: inherit;
    border-color: #ddd;
    color: #ddd;
}

.pagination .disabled a {
    color: #404040;
}

.pagination .active a,
.pagination .active a:hover {
    color: #DEB887;
    font-weight: bold;
}

#reflectorSet ul {
    left: 30px;
}

.selectPosition {
    margin-top: 10px;
}

.selectPosition ul {
    float: left;
    left: 10px;
}

.selectPosition .startLabel {
    left: 17px;
}

.selectPosition .startPagination {
    left: 25px;
    float: none;
}

.wheelCanvas {
    width: 200px;
    margin: auto;
}

.selectPosition p {
    font-size: inherit;
}

.currentPosition a, .startPosition a {
    text-align: center;
    width: 40px;
}

.plugboardSet {
    max-width: 780px;
    margin: auto;
}